<!DOCTYPE html>
<html>
<head>
    <title>{{meta_title}}</title>

    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Critical styles, rest will be loaded later }}
    <style>
        html { background-color: #e8f1f3; color: #37849c; font: 62.5% "proxima-nova", Helvetica, Arial, sans-serif; }
        body { padding: 2rem; }
        p { margin: 1rem 0; }
        a { color: #37849c; text-decoration: none; }
        .site { max-width: 600px; margin: 0 auto; margin-top: 7.6rem; }
    </style>

    {{! Typekit }}
    <script type="text/javascript">(function() { var config = { kitId: 'pgk3hqs', scriptTimeout: 3000 }; var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)})();</script>

    {{! Twitter Cards }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{@blog.url}}{{asset "images/rihards-logo@2x.png"}}">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <meta name="twitter:creator" content="@rihards">

    {{! Open Graph }}
    <meta property="og:locale" content="en_UK">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">
    <meta property="og:url" content="{{@blog.url}}">
    <meta property="og:site_name" content="{{@blog.title}}">
    <meta property="og:image" content="{{@blog.url}}{{asset "images/rihards-logo@2x.png"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="site">
        <header class="header">
            <a id="logo" href="{{@blog.url}}"></a>
            <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <p>{{@blog.description}}</p>
        </header>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="footer">
            <ul class="social">
                <li class="github"><a href="https://github.com/rihards" title="Rihards at Github"></a></li>
                <li class="twitter"><a href="https://twitter.com/rihards" title="Rihards on Twitter"></a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/pub/rihards-steinbergs/5a/8b5/b22" title="Rihards at LinkedIn"></a></li>
            </ul>
            <section class="copyright">&copy; {{date format="YYYY"}} Rihards Steinbergs</section>
        </footer>

        {{! For future reference, ghost foot was removed from here }}
        {{! Some JS stuff }}
        <script type="text/javascript" src="{{asset "js/style.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/ga.min.js"}}"></script>
    </div>
</body>
</html>
