{{#contentFor "socialmeta"}}
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@rihards">
<meta property="twitter:title" content="{{@blog.title}}">
<meta property="twitter:description" content="{{@blog.description}}">
<meta property="twitter:image" content="{{@blog.url}}{{asset "images/rihards-logo@2x.png"}}">
<meta property="twitter:url" content="{{@blog.url}}">

<meta property="og:site_name" content="{{@blog.title}}">
<meta property="og:title" content="{{@blog.title}}">
<meta property="og:type" content="blog">
<meta property="og:description" content="{{@blog.description}}">
<meta property="og:url" content="{{@blog.url}}">
<meta property="og:image" content="{{@blog.url}}{{asset "images/rihards-logo@2x.png"}}">
{{/contentFor}}

{{!< default}}
{{! The main content area on the homepage }}
<main role="main">
    {{#foreach posts}}
    <article class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
            <p class="date post-meta"><time datetime="{{date published_at format='YYYY-MM-DD'}}">{{date published_at format="MMMM YYYY"}}</time></p>
        </header>
        <section class="content">
            <p>{{content words="32"}} &hellip;<a href="{{url}}">continue reading</a>.</p>
        </section>
    </article>
    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}
</main>
